# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environment
venv/
.env/
.env.bak/
env/
ENV/
.venv/

# IDE/Editor settings
.vscode/
.idea/
.cursor/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Others
*.sqlite3

logs/
venv
.env
LLMOPS_3.egg-info/
results/
